body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, rgb(113, 114, 136) 0%, rgb(64, 69, 94) 100%);
  font-family: sans-serif;
}

main {
  width: 100%;
  height: auto;
  min-height: 2000px;
  padding-top: 5em;
}

h1 {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

a {
  color: #fff;
}